environments/** linguist-vendored

.github/** linguist-detectable=true

config/default-docker-log-seccomp.json linguist-vendored

*.yml linguist-detectable=true
*.yml linguist-language=YAML

*.json linguist-detectable=true
*.json linguist-documentation=false
*.json linguist-language=JSON
