environments/** linguist-vendored

.github/** linguist-detectable=true
.github/** linguist-vendored=false
.github/** linguist-documentation=false

config/seccomp/default-docker-logged.json linguist-vendored

*.yml linguist-detectable=true
*.yml linguist-language=YAML

*.json linguist-detectable=true
*.json linguist-documentation=false
*.json linguist-language=JSON
